body {font-family: Verdana, Helvetica, sans-serif; font-size: 12px;}
h1  {position: absolute; top: 30px; left: 30px;}
/**** LOGO ****/
#logo {position: fixed; top: 20px; right: 30px; opacity: 0.8; width: 64px; height: 64px;
       background-image: url('../images/logo64.png')}
/**** MENU ****/
#menu-area {position: absolute; top: 10px; left: 10px;}
#menu-area button {width: 7em;}
#menu-area img {margin-left: 3px; margin-bottom: 3px; vertical-align: bottom;}
#menu-area .search-box {display: inline-block; margin-top: 0px; vertical-align: top;}
/**** TUNE-LIST ****/
.list-link {font-size: smaller;}
#list-area {background-color: #CCC; padding: 10px; position: absolute; top: 100px; left: 10px;}
#list h3 {margin: 0}
dd {margin-left: 10px}
/**** EDITOR  ****/
#editor-area {background-color: #F9F9F9; padding: 10px; position: absolute; top: 100px; left: 400px;}
/**** FIL-IMPORT  ****/
#file-upload-form {display: inline}
#file-upload {display: none}