/* 
    Created on : 2015-jan-15, 09:50:14
    Author     : hln
*/
body {
    background: #CCC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div#view-area, div#list-area {
    top: 60px;
}
div#view-area, div#list-area {
    position: absolute;
    background: white;
    border: #999 solid 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    height: 690px;
}
div#view-area {
    left: 396px;
    width: 800px;
}
div#list-area {
    left: 20px;
    width: 350px;
}
tune-view {
    
}
tune-view-header {
    
}
tune-view-body {
    padding: 10px;
}
tune-list, tune-view {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
tune-list-header, tune-view-header {
    font-size: 18px;
    text-align: center;
    padding: 6px 0 0 0;
    height: 24px;
}
tune-list-navbar {
    text-align: center;
    vertical-align: middle;
    height: 20px;
    padding: 6px 4px 4px 4px;
}
img[ng-src = './layout/images/resultset_previous_disabled.png'],
img[ng-src = './layout/images/resultset_next_disabled.png'] {
    opacity: 0.4;
}
tune-list-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 580px;
    border-bottom: darkgray solid 1px;
}
tune-list tune-title {
    font-weight: bold;
}
tune-list tune-info {
    font-style: italic;
}
tune-list tune {
    list-style: none;
    padding: 5px;
    border-top: darkgray solid 1px;
    margin-bottom: 5px;
}
tune-list tune-sample {
    width: 97%;
    max-height: 48px;
    overflow: hidden;
}
tune-list tune-sample img {
    width: 120%;
}
/*tune-list tune:nth-child(odd) {background-color: #f6f6f6}*/
/*
.animate-repeat {
  line-height:20px;
  box-sizing:border-box;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 2.5s;
  transition:all linear 2.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:100px;
}*/
/*
tune-list tune.ng-move, tune-list tune.ng-enter, tune-list tune.ng-leave {
    -webkit-transition: all linear 1.5s;
    transition: all linear 1.5s;
}
tune-list tune.ng-move, tune-list tune.ng-enter, tune-list tune.ng-leave.ng-leave-active {
    opacity:0;
}
tune-list tune.ng-move.ng-move-active, tune-list tune.ng-enter.ng-enter-active, tune-list tune.ng-leave {
    opacity:1;
}
*/