/* 
    Created on : 2015-jan-15, 09:50:14
    Author     : hln
*/
body {
    background: #CCC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div#view-area, div#list-area {
    top: 60px;
}
div#view-area, div#list-area {
    position: absolute;
    background: white;
    border: #999 solid 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
div#view-area {
    left: 386px;
    width: 800px;
    min-height: 500px;
}
div#list-area {
    left: 10px;
    width: 350px;
}
tune-list {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
tune-list-header {
    font-size: 14px;
    text-align: center;
}
tune-list-navbar {
    line-height: 20px;
    text-align: center;
    padding: 4px;
}
tune-list-body {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 550px;
    min-height: 550px;
    border-bottom: darkgray solid 1px;
}
tune-list tune-title {
    font-weight: bold;
}
tune-list tune-info {
    font-style: italic;
}
tune-list tune {
    list-style: none;
    padding: 5px;
    border-top: darkgray solid 1px;
    margin-bottom: 5px;
}
tune-list tune-sample {
    width: 97%;
    overflow-x: hidden;
}
tune-list tune-sample img {
}
/*tune-list tune:nth-child(odd) {background-color: #f6f6f6}*/
/*
.animate-repeat {
  line-height:20px;
  box-sizing:border-box;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 2.5s;
  transition:all linear 2.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:100px;
}*/
/*
tune-list tune.ng-move, tune-list tune.ng-enter, tune-list tune.ng-leave {
    -webkit-transition: all linear 1.5s;
    transition: all linear 1.5s;
}
tune-list tune.ng-move, tune-list tune.ng-enter, tune-list tune.ng-leave.ng-leave-active {
    opacity:0;
}
tune-list tune.ng-move.ng-move-active, tune-list tune.ng-enter.ng-enter-active, tune-list tune.ng-leave {
    opacity:1;
}
*/